## Basic Level Exercise 1

**Question:**  
Create a dictionary of 5 student names and their corresponding marks. Print the dictionary.

**Example Input and Output:**

Input:
```python
students = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 88, 'Eva': 95}

In [12]:
def scores(tup):
    students = {}
    students[tup[0]] = tup[1]
    return students



print(scores(("Alice",93)))

{'Alice': 93}

In [18]:
def scores(*tup):
    students = {}
    for name,grade in tup:
        students[name] = grade
        
    return students

print(scores(("Alice",93), ("Ben",92)))

{'Alice': 93, 'Ben': 92}

In [32]:
def scores(tup):
    students = {}
    for i in range(0, len(tup),2):    
        name, grade = tup[i] , tup[i+1]
        students[name] = grade
    return students

print(scores(("Alice",93,"Ben",92)))

{'Alice': 93, 'Ben': 92}

## Basic Level Exercise 2

**Question:**  
Write a program to check if a given key exists in a dictionary or not.

**Example Input and Output:**

Input:
```python
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
key = 'age'

In [39]:
def check(d,key):
    if key not in d.keys():
        return f"{key} Not found."
    else:
        return f"{key} = {d[key]}"

my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
key = 'age'
print(check(my_dict,key))

age = 25

## Basic Level Exercise 3

**Question:**  
Write a Python program to iterate over a dictionary and print all keys and values.

**Example Input and Output:**

Input:
```python
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [42]:
def kv(d):
    for i in d:
        return f"{i}: {d[i]}"

my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print(kv(my_dict))

name: Alice

In [ ]:
def kv(d):
    for i in d:
        return f"{i}: {d[i]}"

my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print(kv(my_dict))

In [44]:
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
my_dict.items()

dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])

## Basic Level Exercise 4

**Question:**  
Write a program to find the sum of all values in a dictionary.

**Example Input and Output:**

Input:
```python
my_dict = {'a': 10, 'b': 20, 'c': 30}

In [ ]:
def SUM():

## Basic Level Exercise 5

**Question:**  
Write a Python program to remove a key from a dictionary.

**Example Input and Output:**

Input:
```python
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
key_to_remove = 'age'

## Intermediate Level Exercise 6

**Question:**  
Merge two dictionaries and print the resulting dictionary.

**Example Input and Output:**

Input:
```python
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

## Intermediate Level Exercise 7

**Question:**  
Count the frequency of each character in a given string using a dictionary.

**Example Input and Output:**

Input:
```python
input_string = "hello world"

## Intermediate Level Exercise 8

**Question:**  
Write a program to create a dictionary from two lists, one containing keys and the other containing values.

**Example Input and Output:**

Input:
```python
keys = ['name', 'age', 'city']
values = ['Alice', 25, 'New York']

## Intermediate Level Exercise 9

**Question:**  
Sort a dictionary by its values in ascending and descending order.

**Example Input and Output:**

Input:
```python
my_dict = {'a': 5, 'b': 2, 'c': 8, 'd': 1}

## Intermediate Level Exercise 10

**Question:**  
Write a Python program to invert a dictionary (swap keys and values).

**Example Input and Output:**

Input:
```python
my_dict = {'a': 1, 'b': 2, 'c': 3}

## Advanced Level Exercise 11

**Question:**  
Write a function that takes a dictionary as input and returns a new dictionary with only the key-value pairs where the values are even numbers.

**Example Input and Output:**

Input:
```python
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Advanced Level Exercise 12

**Question:**  
Given a list of dictionaries where each dictionary represents a person with keys like ‘name’ and ‘age’, write a program to sort the list based on age.

**Example Input and Output:**

Input:
```python
people = [
    {'name': 'Alice', 'age': 30},
    {'name': 'Bob', 'age': 25},
    {'name': '

## Advanced Level Exercise 13

**Question:**  
Implement a caching system using a dictionary where frequently accessed results are stored and retrieved to optimize performance.

**Example Input and Output:**

Input:
```python
cache = {}

def fetch_data(key):
    if key in cache:
        return cache[key]
    else:
        result = "Data for {}".format(key)  # Simulate data fetching
        c

## Advanced Level Exercise 14

**Question:**  
Write a Python function that groups anagrams together from a list of words using a dictionary.

**Example Input and Output:**

Input:
```python
words = ['eat', 'tea', 'tan', 'ate', 'nat', 'bat']