### Exercise 1: Basic Set Operations

Create a set with the elements `{10, 20, 30, 40}` and perform the following:

1. Add an element `50` to the set.
2. Remove `20` from the set.
3. Try to remove `60` from the set using `remove()` and handle the exception if it raises a `KeyError`.
4. Check if `30` is in the s

### Exercise 2: Set Union, Intersection, and Difference

Given two sets:

```python
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

2. Find the **intersection** of `set1` and `set2`.

3. Find the **difference** of `set1` and `set2` (elements in `set1` but not in `set2`).

4. Find the **symmetric difference** (elements in either set, but not both).

### Exercise 3: Set Comprehension

1. Create a set of all **even numbers** from `1` to `20` using **set comprehension**.

2. Add the number `22` to the set.

3. Remove all numbers divisible by `4` from the set.

### Exercise 4: Modify a Set (Challenge)

You are given a set of student names:

```python
students = {"Alice", "Bob", "Charlie", "David"}

````
Replace "Bob" with "Eve".
Add the student "Grace".
Remove "Charlie".
Check if "David" is in the set.

### Exercise 5: Set Copying

Create a set `A = {1, 2, 3, 4, 5}`.

1. Create a copy of set `A` and assign it to `B`.
2. Add `6` to set `B`.
3. Verify that set `A` is unaffected by the changes made to set `B`.

### Exercise 6: Using `pop()` and `clear()`

1. Create a set `numbers = {10, 20, 30, 40, 50}`.
2. Use `pop()` to remove an arbitrary element from the set and print the set after removal.
3. Use `clear()` to empty the set and print the set after clearing it.

### Bonus Exercise: Set and List Operations

1. Create a set of numbers from `1` to `10`.
2. Convert the set to a list and change the first element of the list.
3. Convert the list back to a set and print the result.