### Exercise 1: Basic Set Operations

Create a set with the elements `{10, 20, 30, 40}` and perform the following:

1. Add an element `50` to the set.
2. Remove `20` from the set.
3. Try to remove `60` from the set using `remove()` and handle the exception if it raises a `KeyError`.
4. Check if `30` is in the s

In [7]:
s = {10, 20, 30, 40}
s.add(50)
s.remove(20)
if 60 not in s:
    print(60, "not found")
else:
    s.remove(60)
print(s)

60 not found
{40, 10, 50, 30}

### Exercise 2: Set Union, Intersection, and Difference

Given two sets:

```python
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

2. Find the **intersection** of `set1` and `set2`.

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1 | set2)  # {1,2,3,4,5,6,7,8}

{1, 2, 3, 4, 5, 6, 7, 8}

3. Find the **difference** of `set1` and `set2` (elements in `set1` but not in `set2`).

In [9]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1 - set2)  # {1,2,3}

{1, 2, 3}

4. Find the **symmetric difference** (elements in either set, but not both).

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1 ^ set2)  # {1,2,3,6,7,8}

{1, 2, 3, 6, 7, 8}

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print((set1 - set2) or (set2 -set1))  # {1,2,3,6,7,8}

{1, 2, 3}

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print((set1 - set2) | (set2 -set1))  # {1,2,3,6,7,8}

{1, 2, 3, 6, 7, 8}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print((set1 - set2) | (set2 -set1))

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1 and set2)

{4, 5, 6, 7, 8}

### Exercise 3: Set Comprehension

1. Create a set of all **even numbers** from `1` to `20` using **set comprehension**.

In [21]:
s = set()
for i in range(1,21):
    if i % 2 == 0:
        s |= {i}
print(s)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [29]:
s = {i for i in range(1,21) if i % 2 == 0}
    
print(s)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

2. Add the number `22` to the set.

In [30]:
s.add(22)

3. Remove all numbers divisible by `4` from the set.

In [37]:
s = {i for i in range(1,21) if i % 2 == 0}
    
print(s)

g = set()
for x in s:
    if x % 4 == 0:
        g |= {x}
print(g)

for y in g:
    if y in s:
        s.remove(y)
print(s)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
{16, 4, 20, 8, 12}
{2, 6, 10, 14, 18}

In [39]:
s = {i for i in range(1,21) if i % 2 == 0}
    
print(s)

g = {x for x in s if  x % 4 == 0}
print(g)

s -=(g)
print(s)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
{4, 8, 12, 16, 20}
{2, 6, 10, 14, 18}

### Exercise 4: Modify a Set (Challenge)

You are given a set of student names:

```python
students = {"Alice", "Bob", "Charlie", "David"}

````
Replace "Bob" with "Eve".
Add the student "Grace".
Remove "Charlie".
Check if "David" is in the set.

In [57]:
students = {"Alice", "Bob", "Charlie", "David"}
s = list(students)
s[0] = "Eve"
s.append("Grace")
s.remove("Charlie")
students = set(s)
print(students)
if "David" in students:
    print(True)

{'Grace', 'Alice', 'David', 'Eve'}
True

### Exercise 5: Set Copying

Create a set `A = {1, 2, 3, 4, 5}`.

1. Create a copy of set `A` and assign it to `B`.
2. Add `6` to set `B`.
3. Verify that set `A` is unaffected by the changes made to set `B`.

In [60]:
A = {1, 2, 3, 4, 5}
B = A.copy()
B.add(6)
print(A)
print(B)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

### Exercise 6: Using `pop()` and `clear()`

1. Create a set `numbers = {10, 20, 30, 40, 50}`.
2. Use `pop()` to remove an arbitrary element from the set and print the set after removal.
3. Use `clear()` to empty the set and print the set after clearing it.

In [66]:
numbers = {10, 20, 30, 40, 50}
numbers.pop()
print(numbers)
numbers.clear()
print(numbers)

{20, 40, 10, 30}
set()

### Bonus Exercise: Set and List Operations

1. Create a set of numbers from `1` to `10`.
2. Convert the set to a list and change the first element of the list.
3. Convert the list back to a set and print the result.