### String quotes

In [1]:
s = 'She said, "Hello!"'
print(s)

She said, "Hello!"

In [3]:
s = "It's a great day!"
print(s)

It's a great day!

In [6]:
print("This is a \"cool\" example.")

This is a "cool" example.

In [8]:
print('It\'s a great day!')

It's a great day!

In [9]:
s = '''Hello
What is happening
right now'''

print(s)

Hello
What is happening
right now

In [10]:
s = """Hello
What is happening
right now"""

print(s)

Hello
What is happening
right now

In [11]:
s = '''"Hello"
What's happening
right now'''

print(s)

"Hello"
What's happening
right now

In [14]:
s = """"Hello" What's 
happening 
right now"""

print(s)

"Hello" What's
happening
right now

In [17]:
name = input("Enter your name.")
age = int(input("Enter your age."))


print(f'"Hello", my name is {name} and I am {age} years old.')

Enter your name. HAreni
Enter your age. 24

"Hello", my name is HAreni and I am 24 years old.

#### Type conversion

In [18]:
int("10")

10

In [19]:
bool("True")

True

In [20]:
float("10")

10.0

In [21]:
float(9)

9.0

In [22]:
int(9.44)

9

In [27]:
int(9.9)

9

In [28]:
print(1.5 % 0.6)

0.30000000000000004

In [29]:
x = 0.1 + 0.2
print(x == 0.3)

False

In [30]:
x = 5
print(float(x)) # Output = 5.0

5.0

#Write a program to convert all elements of the list into integers and floats where applicable. What would the converted list look like?

In [41]:
l = ["25", 30, "40.5", 50] 
g = []
for i in l:
    if type(i) != int:
        g.append(int(float(i)))
    else: 
        g.append(i)
print(g)

[25, 30, 40, 50]

Convert a non-zero number (e.g., 1) to a boolean.

In [45]:
x = 1
bool(x)

True

Convert the integer 25 and the float 4.5

In [46]:
print(str(25) + str(4.5)) # Result = 254.5

254.5

In [54]:
print(int(10 + 3.5)) # Result = 13.5

13

In [57]:
try:
    int("hello")
except ValueError:
    print("Cannot convert 'hello' to an integer")

Cannot convert 'hello' to an integer

In [58]:
int(True)

1

In [59]:
str(True)

'True'

In [60]:
str(1)

'1'

In [61]:
bool(25)

True

In [63]:
bool("a")

True

In [64]:
float(True)

1.0

In [65]:
float("True")

ValueError: could not convert string to float: 'True'

numbers = [1, 2, 3, 4], into a string where the integers are separated by commas (e.g., "1,2,3,4").
Then, write a function to reverse this: convert the string "1,2,3,4" back into a list of integers.

In [78]:
numbers = [1, 2, 3, 4]
sj = ""
for i in numbers:
    sj += str(i) + ","
sj = sj[:-1]
print(sj)

1,2,3,4

In [74]:
d = "Hello"
print(d[:-1])

Hell

You’ve already worked on converting a list to a string and back. Here's another task:What happens when you try to convert a list of mixed types (e.g., ["25", 30, "40.5", 50]) to a single string directly? Can you convert all the elements of the list to strings and then concatenate them into one string?What would the result be, and how would you approach it?

In [80]:
l = ["25", 30, "40.5", 50]
s = ""

for j in l:
    s += str(j)
print(s)

for i in s:
    if

253040.550

In [82]:
complex(20 + 1)

(21+0j)

In [83]:
str(21 + 0j)

'(21+0j)'

In [85]:
complex(21+5j)

(21+5j)

Write code to convert all elements of the list (including the inner list) to integers or floats where applicable, and provide the result.

In [114]:
nested = ["10", [20, "30"], 40.5, "30"]
new = []
for i in nested:
    if type(i) != list:
        if type(i) == str:
            new.append(int(i))     
        elif type(i) == float:
            new.append(i)
        else:
            new.append(i)    
        
    else:
        for j in i:
            if type(j) == str:
                if "." in j:
                    new.append(float(j))
                else:
                    new.append(int(j))
            
            elif type(j) == float:
                new.append(j)
            else:
                new.append(j) 
            
print(new)

[10, 20, 30, 40.5, 30]

In [106]:
float("30")

30.0

In [100]:
int("30")

30

In [105]:
(int(float(30)))

30

In [115]:
t = (1, 2, 3, 4)
s = {5, 6, 7, 8}
l = []
l = t.copy[]
print(l)

SyntaxError: invalid syntax (2566068657.py, line 4)

In [118]:
t = (1, 2, 3, 4)
l = t[::]
print(l)

(1, 2, 3, 4)

In [131]:
t = (1, 2, 3, 4)
l = []
l += t[::]
print(l)

[1, 2, 3, 4]

In [132]:
t = (1, 2, 3, 4)
l = list(t)
print(l)

[1, 2, 3, 4]

In [134]:
t = (1, 2, 3, 4)
l = list(t)
s = tuple(l)
print("list to tuple",s)

v = set(t)
print("tuple to set",v)

w = set(l)
print("list to set",w)

j = list(w)
print("set to list",j)

k = tuple(s)
print("set to tuple",k)

list to tuple (1, 2, 3, 4)
tuple to set {1, 2, 3, 4}
list to set {1, 2, 3, 4}
set to list [1, 2, 3, 4]
set to tuple (1, 2, 3, 4)

#### 23. Handling Conversion Errors Gracefully
Suppose you're trying to convert user input to an integer, but the user enters a non-numeric value (e.g., "abc"). How can you handle this error gracefully without crashing the program?Write a code snippet that:
Takes input from the user.
Tries to convert it to an integer.
If the conversion fails, prints an error message and continues.
What would your approach look like?

In [161]:
n = input("Enter a value.")
for i in n:
    if 47 < ord(i) < 59:
        print(int(n))
        break
    else:
        print("This is non numeric")
        break

Enter a value. $$

This is non numeric

In [179]:
n = input("Enter a value.")
if "." not in n:
    for i in n:
        if 47 < ord(i) < 59:
            print(int(n))
            break
        else:
            print("This is non numeric")
            break
else:
    for i in n:
        if i == n:
        if 47 < ord(i) < 59:
            print(int(n))
            break
        else:
            print("This is non numeric")
            break
    print(float(n))

Enter a value. .

ValueError: could not convert string to float: '.'

In [187]:
n = input("Enter a value.")
if "." not in n:
    for i in n:
        if 47 < ord(i) < 59:
            print(int(n))
            break
        else:
            print("This is non numeric")
            break
elif n[-1] == ".":
    print("This is non numeric")

else:
    print(float(n))

Enter a value. 1girl

ValueError: invalid literal for int() with base 10: '1girl'

In [188]:
n = input("Enter a value.")
if "." not in n:
    is_valid = True  # Flag to track if the number is valid
    for i in n:
        if not (47 < ord(i) < 59):  # Check if character is not a digit
            is_valid = False
            print("This is non numeric")
            break  # Stop checking after the first invalid character
    if is_valid:  # Only print if all characters are digits
        print(int(n))
elif n[-1] == ".":
    print("This is non numeric")
else:
    print(float(n))

Enter a value. 1a3

This is non numeric

In [169]:
n = input("Enter a value.")
for i in n:
    if 47 < ord(i) < 59:
        print(int(n))
        break
    else:
        print("This is non numeric")
        break

Enter a value. 79

79

In [173]:
n = input("Enter a value.")
if n.isdigit():
    print(int(n))
else:
     print("Error")

Enter a value. 6.5

Error

In [ ]:
n = 1

In [142]:
ord("9")

57