# Python Practice Questions for Printing Number Patterns and Pyramids

## Basic Level

### 1. Right-Angled Triangle (Numbers)
Write a Python program to print a right-angled triangle using numbers:
```python
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 2. Right-Angled Triangle (Stars)

```python
*
**
***
****
*****

### 2. Right-Angled Triangle (Stars)

```python
*
**
***
****
*****

In [5]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end = "")
    print()

*
**
***
****
*****

### 3. Inverted Right-Angled Triangle (Numbers)
Write a Python program to print an inverted right-angled triangle using numbers:

```python
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [11]:
n = 5

for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end = " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### 4. Number Pyramid
Write a Python program to print a pyramid using numbers:

```python
    1
   1 2 1
  1 2 3 2 1
 1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [27]:
n = 5
for h in range(1,n+1):
    for i in range((n+1)-h):
        print(" ", end = " ")
    for j in range(1,h):
        print(j, end = " ")
    for k in range(h,0,-1):
        print(k, end = " ")
    print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

### 5. Inverted Pyramid (Stars)
Write a Python program to print an inverted pyramid using stars:

```python
*****
 ****
  ***
   **
    *

In [40]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(" ", end = "")
    for k in range(n+1,i,-1):
        print("*", end = "")
    print()

 *****
  ****
   ***
    **
     *

In [42]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print(" ", end = "")
    for k in range(n,i-1,-1):
        print("*", end = "")
    print()

 *****
  ****
   ***
    **
     *

### 6. Full Pyramid (Stars)
Write a Python program to print a full pyramid using stars:

```python
    *
   ***
  *****
 *******
*********

In [61]:
n = 5
for i in range(1,n+1):
    for j in range((n+1)-i):
        print("s", end = "")
    for k in range(1,i,2):
        print("*", end = "")
    print()

sssss
ssss*
sss*
ss**
s**

In [63]:
n = 5
for h in range(1,n+1):
    for i in range((n+1)-h):
        print(" ", end = " ")
    for j in range(1,h):
        print("*", end = " ")
    for k in range(h,0,-1):
        print("*", end = " ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [74]:
n = 5
for i in range(1,n+1):
    for j in range((n+1)-i):
        print(" ", end = " ")
    for k in range(1,2 * i):
        print("*", end = " ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [84]:
n = 5
for i in range(1,n+1):
    for j in range((n+1)-i):
        print(" ", end = " ")
    if i == 1:
        print("*", end = " ")
    else: 
        for k in range(2 * i):
            print("*", end = " ")
    print()

          *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

In [85]:
n = 5
for i in range(1, n + 1):
    # Print leading spaces
    for j in range(n + 1 - i):
        print(" ", end=" ")

    # Print stars
    if i == 1:
        print("*", end=" ")
    else:
        for k in range(2 * (i - 1)):  # 2, 4, 6, 8...
            print("*", end=" ")

    print()  # Move to the next line

# Print the last row with 10 stars
for i in range(2 * n):
    print("*", end=" ")

print()  # Move to the next line

          *
        * *
      * * * *
    * * * * * *
  * * * * * * * *
* * * * * * * * * *

### 7. Diamond Shape (Stars)

```python
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

### 8. Floyd's Triangle
Write a Python program to print Floyd's Triangle, which consists of numbers in the following pattern:
```python
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

### 9. Square of Numbers

Write a Python program to print the following pattern of square numbers

```python
1 4 9 16 25
36 49 64 81 100
121 144 169 196 225

### 10.Hollow Square (Stars)

Write a Python program to print a hollow square using stars

```python
*****
*   *
*   *
*   *
*****

### 11.Hollow Right-Angled Triangle (Stars)

Write a Python program to print a hollow right-angled triangle using stars

```python
*
**
* *
*  *
*****

### 12. Odd Number Pyramid

Write a Python program to print a pyramid of odd numbers:

```python
    1
   135
  13579
 1357911
135791113

### 13.Inverted Number Pyramid

Write a Python program to print an inverted pyramid of numbers:

```python
12345
1234
123
12
1

### 2. Right-Angled Triangle (Stars)

```python
*
**
***
****
*****

### 2. Right-Angled Triangle (Stars)

```python
*
**
***
****
*****

### 15. Butterfly Pattern (Stars)

Write a Python program to print a butterfly pattern using stars:

```python
*       *
**     **
***   ***
**** ****
********
**** ****
***   ***
**     **
*       *